@import "colores";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: $color-background;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 0px;
  row-gap: 0px;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

.grid_item1 {
  grid-area: nav;
}

.grid_item2 {
  grid-area: main;
}

.grid_item3 {
  grid-area: footer;
}

/*----------------------------------INDEX--------------------------------------*/

.main_container {
  background: $color-main;
  width: 100%;
  height: 1020px;
}

.relleno {
  background: $color-secundario;
  width: 100%;
  height: 10px;
}

.slide {
  display: none;
  img {
    width: 100%;
    height: 100%;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
  width: 100%;
}

.banner_columna {
  display: none;
  width: 300px;
  height: 650px;
  img {
    width: 300px;
    height: 650px;
  }
}

.caja1 {
  width: 250px;
  height: 800px;
  margin: 20px;
  h1 {
    margin: 0px 0px 10px 0px;
    padding: 5px;
    text-align: center;
    display: block;
    font-family: "Rajdhani", sans-serif;
    border-bottom: 1px solid $color-nav-footer;
  }
}

.producto {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}

.item {
  text-decoration: none;
  border-radius: 3px;
  background: $color-productos;
  font-family: "Rajdhani", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  padding: 10px;
  box-shadow: 0 2px 1px -1px ($color_sombras / 20%),
    0 1px 1px 0 ($color_sombras / 14%), 0 1px 3px 0 ($color_sombras / 12%);
  p {
    color: $color-nav-footer;
    border-bottom: 1px solid $color-secundario;
    padding: 5px;
    margin-bottom: 5px;
  }
  span {
    color: $color-nav-footer;
  }
  img {
    width: 150px;
    height: 250px;
  }
  &:hover {
    transform: scale(0.9);
  }
}

.slide_marcas {
  display: none;
  width: 1450px;
  height: 120px;
  margin: 10px auto;
  overflow: hidden;
  ul {
    display: flex;
    height: 100%;
    width: 300%;
    animation: slide 5s infinite alternate-reverse ease-in-out;
    li {
      width: 300px;
      height: 100%;
      list-style: none;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@keyframes slide {
  0% {
    margin-left: -0%;
  }

  50% {
    margin-left: -21%;
  }


  50% {
    margin-left: -65%;
  }

  100% {
    margin-left: -65%;
  }
}

/*----------------------------------------*/

footer {
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
  background: $color-nav-footer;
}

.footer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  img {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
  }
}

.box__footer {
  display: flex;
  flex-direction: wrap;
  width: 100%;
  h2 {
    padding: 10px;
    color: $color_letras;
    font-size: 18px;
    border-right: 1px solid $color-secundario;
  }
  a {
    font-size: 8px;
    color: $color_letras;
    text-decoration: none;
    padding: 15px 5px 0px 5px;
  }
}


.contacto {
  display: flex;
  flex-direction: wrap;
  width: 100%;
  h2 {
    border-radius: 5px;
    color: $color_letras;
    margin-left: 5px;
    padding: 10px;
    font-size: 18px;
    background: $color-secundario;

  }
  a {
    margin-top: 10px;
    color: $color_letras;
    text-decoration: none;
  }
}

.copyright {
  font-size: 12px;
  color: $color_letras;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}


/*----------------------------------Contacto--------------------------------------*/

.main_contacto {
  width: 100%;
  height: 720px;
  background: $color-main;
}

.relleno_contacto {
  background: $color-secundario;
  width: 100%;
  height: 10px;
}
.formulario {
  color: $color-productos;
  padding: 20px;
  text-align: left;
  margin: 20px auto 20px auto;
  background: $color-nav-footer;
  width: 250px;
  height: 650px;
  h1 {
    margin: 5px;
  }
  form {
    padding: 0px;
  }
  label{
    font-size: 15px;
  }
  input {
    display: block;
    padding: 10px;
    margin: 5px;
  }
  textarea{
    padding: 2px;
    margin: 5px;
  }
}

.boton_robot {
  input {
    display: inline-block;
  }
}


/*----------------------------------Acerca de nosotros --------------------------------------*/

.main_acerca_nos {
  width: 100%;
  height: 1400px;
  background: $color-main;
}

.relleno_acerca {
  background: $color-secundario;
  width: 100%;
  height: 10px;
}

.contenedor_acerca {
  display: flex;
  margin: auto;
  width: 100%;
  height: 1000px;
}



.texto {
  padding: 20px;
  width: 100%;
  height: auto;
  p {
    padding: 10px;
    height: auto;
    margin: 10px 0px;
  }
}



/*----------------------------------Catalogo--------------------------------------*/

.main_catalogo {
  background: $color-main;
  width: 100%;
  height: 2550px;
}
.relleno_catalogo {
  background: $color-secundario;
  width: 100%;
  height: 10px;
}
.caja1_catalogo {
  width: 250px;
  height: 2450px;
  margin: auto;
  h1 {
    margin: 0px 0px 10px 0px;
    padding: 5px;
    text-align: center;
    display: block;
    font-family: "Rajdhani", sans-serif;
    border-bottom: 1px solid #000000;
  }
}

.producto_catalogo {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}

.item_catalogo {
  text-decoration: none;
  border-radius: 3px;
  background: $color-productos;
  font-family: "Rajdhani", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  padding: 10px;
  box-shadow: 0 2px 1px -1px (#00000031 / 20%), 0 1px 1px 0 (#00000031 / 14%),
    0 1px 3px 0 (#00000031 / 12%);
  p {
    color: #000000;
    border-bottom: 1px solid $color-secundario;
    padding: 5px;
    margin-bottom: 5px;
  }
  span {
    color: $color-nav-footer;
  }
  img {
    width: 150px;
    height: 250px;
  }
  &:hover {
    transform: scale(0.9);
  }
}

/*----------------------------------Producuto--------------------------------------*/



.main_producto {
  background: $color-main;
  width: 100%;
  height: 1200px;
}

.relleno_producto {
  background: $color-secundario;
  width: 100%;
  height: 10px;
}
.clasita {
  display: flex;
  justify-content: center;
  height: 1050px;
}
.producto_container {
  display: flex;
  flex-direction: column;
  height: 1150px;
  background: $color-main;
  width: 100%;
}

.foto_producto {
  background: $color-productos;
  width: 200px;
  height: 360px;
  margin: 20px auto;
  border-radius: 5px;
  img {
    width: 150px;
    height: 340px;
    margin: 10px 25px;
  }
}

.titular {
  background: $color-productos;
  border-radius: 5px;
  width: 200px;
  height: 400px;
  padding: 10px;
  margin: 20px auto;
  h1 {
    font-size: 25px;
    font-family: "Rajdhani", sans-serif;
    margin: 10px;
    border-bottom: 1px solid $color-secundario;
  }
  p {
    font-size: 18px;
    font-family: "Rajdhani", sans-serif;
    margin: 40px 10px;
    border-bottom: 1px solid $color-secundario;
  }
  a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "Rajdhani", sans-serif;
    margin: 0px 10px;
    padding: 5px;
    background: $color-secundario;
    border-radius: 5px;
  }
}

.descripcion {
  border-radius: 5px;
  background: $color-productos;
  margin: 10px auto;
  width: 200px;
  height: 300px;
  padding: 10px;
}


@include media-index;
@include media-catalogo;
@include media-contacto;
@include media-acerca;
@include media-producto;
